params.fastqc = "${params.softwareDir}/FastQC/fastqc"
params.trimgalore = "${params.softwareDir}/TrimGalore-0.6.7/trim_galore"
params.bwa = "${params.softwareDir}/bwa-0.7.17/bwa"
params.gatk = "${params.softwareDir}/gatk-4.3.0.0/gatk"
params.qualimap = "${params.softwareDir}/qualimap_v2.2.1/qualimap"
params.samtools = "${params.softwareDir}/samtools-1.16.1/samtools"

params.referenceFasta = "${params.referenceDataDir}/gatk-resource-bundle-hg38/Homo_sapiens_assembly38.fasta"
params.genomeIntervals = "${params.referenceDataDir}/gatk-resource-bundle-hg38/wgs_calling_regions.hg38.interval_list"
params.variantDatabases = [
    "${params.referenceDataDir}/gatk-resource-bundle-hg38/1000G_omni2.5.hg38.vcf.gz",
    "${params.referenceDataDir}/gatk-resource-bundle-hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz",
    "${params.referenceDataDir}/gatk-resource-bundle-hg38/hapmap_3.3.hg38.vcf.gz",
    "${params.referenceDataDir}/gatk-resource-bundle-hg38/Homo_sapiens_assembly38.known_indels.vcf.gz",
    "${params.referenceDataDir}/gatk-resource-bundle-hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"]

executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 9
    /* actually on CHPC we are allowed 10, but the nextflow job itself
       also must be qsubbed so we specify 10 - 1 = 9 here*/
}

process {
    //beforeScript = 'module load chpc/singularity/3.5.3'
    clusterOptions = '-P CBBI1243'
    //clusterOptions = '-P CBBI1243 -m abe -M jackmo375@gmail.com'
}

report {
    overwrite = true
}
